{% extends 'admin_base.html.twig' %}

{% block title %}Gestion des messages | Code by Aurore{% endblock %}

{% block body %}
<h1>Messages reçus</h1>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Objet</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for message in messages %}
            <tr>
                <td data-cell="Date">{{ message.createdAt | date("Y-m-d") }}</td>
                <td data-cell="Nom">{{ message.firstname }} {{ message.lastname }}</td>
                <td data-cell="Email">{{ message.email }}</td>
                <td data-cell="Sujet">{{ message.subject }}</td>
                <td data-cell="Action">
                    <a class="button--light-green" href="{{ path('admin.message.show', { id: message.id }) }}">Voir le message</a>
                    <form action="{{ path('admin.message.delete', {id: message.id}) }}" method="post" onsubmit="return confirm('Confirmer la suppression ?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
                        <button class="button--delete">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


