<h2>Vous avez reçu un nouveau message</h2>
<p><strong>Nom :</strong> {{ firstname }} {{ lastname }}</p>
<!-- <p><strong>Prénom :</strong> {{ firstname }} </p> -->
<p><strong>Email :</strong> {{ mail }}</p>
{% if phone %}
<p><strong>Téléphone :</strong> {{ phone }}</p>
{% endif %}
<p><strong>Sujet :</strong> {{ subject }}</p>
<p><strong>Message :</strong><br>{{ messageContent|nl2br }}</p>

