<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Développeuse web en reconversion, recherche un stage en développement front et back-end. Découvrez mon CV et mes compétences.">
        <meta name="keywords" content="Développeur web, Développeuse web, Stage, Frontend, Backend, PHP, JavaScript">  
        <title>{% block title %}Code by Aurore{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Alice&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app')}}{% endblock %}
        {% endblock %}

    </head>
    <body class="{% block body_class %}public{% endblock %}">
        <nav class="nav" id="main-navbar">
            <div class="nav__container">
                <a class="nav__logo" href="{{ path('blog')}}">
                    <img style="width: 50px;" src="{{ asset('assets/images/logo AL dark.png') }}" alt="Logo aurore le perff, développeuse web" loading="lazy">
                </a>
    
                <span class="nav__burger" aria-label="Menu">
                    <svg viewbox="0 0 100 80" width="30" height="30">
                        <rect width="100" height="15" rx="8"></rect>
                        <rect y="35" width="100" height="15" rx="8"></rect>
                        <rect y="70" width="100" height="15" rx="8"></rect>
                    </svg>
                </span>
    
                <ul class="nav__menu">
                    <li class="nav__menu--item {% if app.request.attributes.get('_route') starts with 'blog' %}active{% endif %}">
                        <a class="a-nav" href="{{ path('blog')}}">Blog</a>
                    </li>
                    <li class="nav__menu--item {% if app.request.attributes.get('_route') == 'about' %}active{% endif %}">
                        <a class="a-nav" href="{{ path('about')}}">A propos</a>
                    </li>
                    <li class="nav__menu--item {% if app.request.attributes.get('_route') == 'contact' %}active{% endif %}">
                        <a class="a-nav" href="{{ path('contact')}}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main>
            {% include 'partials/_flash_messages.html.twig' %}
            {% block body %}{% endblock %}
        </main>
        <footer class="footer">
            <div class="footer__container">
                <img class="footer__container-logo" style="width: 50px;" src="{{ asset('assets/images/logo AL white.png') }}" alt="Logo aurore le perff, développeuse web" loading="lazy">
                <ul class="footer__list-links">
                    <li class="footer__list--item">
                        <a class="{{ app.request.attributes.get('_route') == 'mentions_legales' ? 'active' : '' }}">Mentions légales</a>
                    </li>
                    <li class="footer__list--item">
                        <a class="{{ app.request.attributes.get('_route') == 'politique_confidentialite' ? 'active' : '' }}">Politique de confidentialité</a>
                    </li>
                </ul>
            </div>
        </footer>
        <!-- Inclusion du CDN d'Octokit -->
        <script src="https://cdn.jsdelivr.net/npm/@octokit/core@3.0.0/dist/index.min.js"></script>

        <!-- Inclusion du CDN de Flatpickr-->
        <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>


        <!-- Script pour initialiser flatpickr -->
        <script>
            document.addEventListener('DOMContentLoaded', () => {
            flatpickr('.datepicker', {
                dateFormat: 'd/m/Y',
                allowInput: true
            });
            });
        </script>

    </body>
</html>
