{% extends 'admin_base.html.twig' %}

{% block body %}
   <div class="container">
      <h2>Modifier l'article</h2>

      {{ include('partials/_flash_messages.html.twig') }}

      <form method="post" action="{{ path('article.edit', {id: article.id}) }}">

         {{ form_start(form) }}

         {{ form_row(form.title) }}
         {{ form_row(form.slug) }}
         {{ form_row(form.category) }}
         {{ form_row(form.metaDescription) }}
         {{ form_row(form.content) }}
         {{ form_widget(form.published_at, {'attr': {'class': 'input datepicker'}}) }}
         {{ form_row(form.save, { 'label': 'Modifier l\'article' }) }}

         {{ form_row(form._token) }}

         {{ form_end(form) }}

      </form>

   </div>
{% endblock %}
