{% extends 'admin_base.html.twig' %}

{% block title %}Liste des articles | Code by Aurore{% endblock %}

{% block body %}
<main>
    <section>
        <h1>Liste des articles</h1>
        <p>
            <a class="button--dark-green" href="{{ path('article.new')}}">Créer un article</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Slug</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.slug }}</td>
                    <td>{{ article.status }}</td>
                    <td class="d-flex gap-1">
                        <a class="button--light-green" href="{{ path('article.show', {slug: article.slug}) }}">Consulter</a>
    
                        <a class="button--light-green" href="{{ path('article.edit', {id: article.id}) }}">Editer</a>
    
                        <form action="{{ path('article.delete', {id: article.id}) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="button--delete" type="submit">Supprimer</button>
                        </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td>Aucun article trouvé</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>    
  </main>
{% endblock %}